<div class="row mt-5">
  <div class="col-4">

  </div>
  <div class="col-4 jumbotron  bg-white mb-4 mt-3 p-5 shadow">
    <form #a="ngForm" (ngSubmit)="onResetPassword(a.value)">

      <div class="form-group">
        <label for="c"><i class="fa fa-user"></i>&nbsp;&nbsp;Username</label>
        <input type="text" id="c" class="form-control" name="username" [(ngModel)]="username">
      </div>
      <div class="form-group">
        <label for="a"><i class="fa fa-unlock"></i>&nbsp;&nbsp;Old Password</label>
        <input type="password" id="a" class="form-control" name="oldpassword" [(ngModel)]="oldpassword">
      </div>
      <div class="form-group">
        <label for="b"><i class="fa fa-lock"></i>&nbsp;&nbsp;Create Password</label>
        <input type="password" id="b" class="form-control" name="newpassword" [(ngModel)]="newpassword">
      </div>
      <p class="text-center"><button class="btn btn-primary">Submit</button></p>

    </form>
  </div>
  <div class="col-4"></div>
</div>