<div class="row">
  <div class="col-4">

  </div>
  <div class="col-md-4 jumbotron  bg-white mb-4 mt-5 p-5 shadow">
    <form #a="ngForm" (ngSubmit)="onLogin(a.value)">
      <div class="form-group">
        <label for="a"><i class="fa fa-user"></i>&nbsp;&nbsp;User Name</label>
        <input type="text" id="a" class="form-control" name="username" [(ngModel)]="username">
      </div>
      <div class="form-group">
        <label for="b"><i class="fa fa-lock"></i>&nbsp;&nbsp;Password</label>
        <input type="password" id="b" class="form-control" name="password" [(ngModel)]="password">
      </div>
      <p class="text-center"><button class="btn btn-primary">Login</button>&nbsp;&nbsp;&nbsp;<i class="far fa-sign-in"></i></p>
      <a href="gmail" class="text-left">forgot password?</a>
      <a href="register" class="float-right">Create Account</a>
    </form>
  </div>
  <div class="col-4">

  </div>
</div>