<div class="row mt-5">
  <div class="col-12">
    <h1 class="text-center"><u>Online Examination System</u></h1>
    <p>Today Online Examination System has become a fast growing examination method because of its speed and accuracy. It
      is also needed less manpower to execute the examination. Almost all organizations now-a-days, are conducting their
      objective exams by online examination system, it saves students time in examinations. Organizations can also easily
      check the performance of the student that they give in an examination. As a result of this, organizations are releasing
      results in less time. It also helps the environment by saving paper. According to today’s requirement, online examination
      project in php is very useful to learn it.</p><br/>
    <h2 class="text-left">What is an Online Examination System?</h2><br/>
    <p>In an online examination system examine get their user id and password with his/her admit card. This id is already
      saved in the examination server. When examine login to the server he/she get his/her profile already register. On the
      certain time examine gets the message to start the examination. All answers given by examine are saved into the server
      with his/her profile information. Online examination system also allows to correct the answer if the examine needed
      to change any answer in the examination time duration, however, after the time duration any change will not allow.
      This also makes c checking the answer easy and error proof as computers are more accurate than man and provide fast
      results too. Php is a web base language so we can create an <b>online examination system in PHP</b>.</p><br/>
    <p>Administrator of Online Examination has multiple features such as Add, Delete, Update Topics and Question. To Login
      as Admin put inside your browser "<a>www.applicationname/admin</a>"</p><br/>
    <p>The user will automatically get the updated version by logging using the user ID and Password provided at the time
      of registration. No need of reprinting,appearance,vigilance and the job is done.</p>

  </div>
</div>