<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-primary">WELCOME TO ADMIN</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand">
          <img src="assets/logo.png" height="53px" width="100px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse justify-content-end" data-toggle="collapse" id="collapsibleNavbar">
          <ul class="navbar-nav nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" routerLink="userinfo">USER INFORMATION</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-toggle="pill">
                UPLOADS
              </a>
              <div class="dropdown-menu">
                <li class="dropdown-submenu nav-item dropdown">
                  <a class="dropdown-item dropdown-toggle" data-toggle="dropdown">Levels</a>
                  <div class="dropdown-menu">
                    <div class="dropdown-submenu">
                      <a class="dropdown-item" routerLink="begginer">Beginner</a>
                      <a class="dropdown-item" routerLink="medium">Medium</a>
                      <a class="dropdown-item" routerLink="expert">Expert</a>
                    </div>
                  </div>
                </li>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" routerLink="userperform">USER PERFORMANCE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" routerLink="addquestions">ADD QUESTIONS</a>
            </li>
          </ul>
          <ul class="navbar-nav nav nav-pills ml-auto">
            <li class="nav-item active">
              <a class="nav-link" data-toggle="pill" routerLink=""><i class="fas fa-sign-out"></i>&nbsp;LOGOUT</a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </div>

</div>
<router-outlet></router-outlet>