<div class="conatainer-fluid">
  <div class="row mt-4">
    <div class="col-sm-3">
      <ul class="nav flex-column bg-dark">
        <li class="nav-item">
          <Button class="btn btn-primary form-control mt-2" style="border-radius:50px" routerLink="c">
            <h4><b class="text-white">C <span></span></b></h4>
          </Button>
        </li><br/><br/><br/><br/><br/><br/>
        <li class="nav-item">
          <Button class="btn btn-success form-control" style="border-radius:50px" routerLink="c++">
            <h4><b class="text-white"> C <span></span> + <span></span> + <span></span></b></h4>
          </Button>
        </li><br/><br/><br/><br/><br/><br/>
        <li class="nav-item">
          <Button class="btn btn-warning form-control" style="border-radius:50px" routerLink="java">
            <h4><b class="text-white">J <span></span> A <span></span> V <span></span> A <span></span></b></h4>
          </Button>
        </li><br/><br/><br/><br/><br/><br/>
      </ul>
    </div>
    <div class="row-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>