<div class="row">
  <div class="col-2">

  </div>
  <div class="col-8 mt-5">


    <table class="table table-bordered table-striped table-hover mt-2">
      <tr *ngFor='let i of profileData'>
        <th>First Name:</th>
        <td>{{i.firstname}}</td>
      </tr>
      <tr *ngFor='let i of profileData'>
        <th> Middle Name:</th>
        <td>{{i.middlename}}</td>
      </tr>
      <tr *ngFor='let i of profileData'>
        <th>Last Name:</th>
        <td>{{i.lastname}}</td>
      </tr>
      <tr *ngFor='let i of profileData'>
        <th>Mail:</th>
        <td>{{i.mail}}</td>
      </tr>
      <tr *ngFor='let i of profileData'>
        <th>Phone:</th>
        <td>{{i.phone}}</td>
      </tr>
      <tr *ngFor='let i of profileData'>
        <th>Role:</th>
        <td>{{i.role}}</td>
      </tr>
      <tr *ngFor='let i of profileData'>
        <th>User Name:</th>
        <td>{{i.username}}</td>
      </tr>
      <tr *ngFor='let i of profileData'>
        <th>Password</th>
        <td>{{i.password}}</td>
      </tr>
    </table>
  </div>
  <div class="col-2">

  </div>
</div>