<div class="row mt-5" style="background-image: url(assets/ContactUs1.jpg); background-size:cover">
  <div class="col-6">
    <h1 class="text-warning">Any Queries Please Contact Us...</h1>
    <b>Contact OEP</b><br/><br/> <b>Phone:080-02255666</b>
    <br/><br/> <b>International:+6469785000</b>
    <br/><br/><b>Mail id:contactus.oep@gmail.com</b>
    <br/><br/><b>Our Website:www.onlineexamporal.org</b>
    <br/><br/><br/>
    <a href="home/contactus"><i class="fas fa-phone" style="font-size:40px;color:blueviolet;"></i></a>&nbsp;
    <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false
    &continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&
    osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i class="fas fa-envelope" style="font-size:40px;color:red;"></i></a>&nbsp;
    <a href="https://www.facebook.com/"><i class="fab fa-facebook-square" style="font-size:40px;color:blue;"></i></a>&nbsp;
    <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter-square" style="font-size:40px;color:skyblue;"></i></a>&nbsp;
    <a href="https://accounts.google.com/ServiceLogin/signinchooser?passive=1209600&continue=https%3A%2F%2Faboutme.google.com%2Fu%2F0%2F%3Freferer%
    3Dgplus&followup=https%3A%2F%2Faboutme.google.com%2Fu%2F0%2F%3Freferer%3Dgplus&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
      <i class="fab fa-google-plus-g" style="font-size:40px;color:red;"></i></a>&nbsp;

  </div>
  <div class="col-6">
    <img src="assets\phone.jpg" height="500px" width="500px">
  </div>
</div>